# here is an example of an device listing:
#
	# device
	#	   urtw0
	#	   rv0
	#
	#  Below is an exmaple of a network listing
	#
	# network
	#	    name = somenetworkid
	#	    key = somenetworkid
	#
# A network listing does not need to contain a key, it is also important to note you
# can write as many network listings as you want.
# remmember that the first read device or network will have the highet priority, so list
# your individule items top- down depending on there priority